body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    background-color: #DFD3C3;
    color: #666D69;
}

.navbar {
    background-color: #A6B2B5;
}

.navbar-brand, .nav-link {
    font-family: 'Georgia', serif;
    color: #FFFFFF !important;
}

.navbar-nav .nav-link:hover {
    color: #CA903E !important;
}

.hero {
    background-color: #A7BAA6;
    color: white;
}

.hero h1 {
    font-family: 'Garamond', serif;
    color: #924E3C;
}

.hero p {
    font-style: italic;
    font-size: 1.25rem;
}

section {
    background-color: #C8D0BB;
    padding: 50px 0;
}
/* About Section */
section.my-5 {
    background-image: url('images/botanicbanner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    position: relative;
}

h1, h3 {
    font-family: 'Garamond', serif;
    color: #924E3C;
}

.btn-outline-dark {
    border-color: #CA903E;
    color: #CA903E;
}
{
.timeline {
    padding-left: 2rem; /* Adjust as needed */}

.btn-outline-dark:hover {
    background-color: #CA903E;
    color: white;
}

footer {
    background-color: #666D69;
    color: #DFD3C3;
}
